# Fetch node addresses from vault
- name: Getting node addresses from vault
  shell: |
    vault kv get -field=nodeAddress {{ component_vault.secret_path | default('secret') }}/{{ component_ns }}/crypto/{{ peer.name }}/data
  environment:
    VAULT_ADDR: "{{ component_vault.url }}"
    VAULT_TOKEN: "{{ component_vault.root_token }}"
  register: "{{ result }}"
  ignore_errors: yes


- name:  Checking node_address
  debug: 
    msg: "{{node_address}}"
  
# Get information about each member node present in network.yaml and store it as a list of org,node
- name: Get member node data
  set_fact:
    node_address_list={{ node_address_list|default([]) + [ {'peer_name':peer.name, 'node_address':result.stdout} ] }}
  